* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.container {
  background-color: #cbecff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 80px;
}

.content {
  flex: 1;
  padding: 20px;
}

.logo-container {
  margin-bottom: 20px;
}

.rounded-button {
  background-color: #0962e8;
  color: #fff;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.rounded-button2 {
  background-color: #0962e8;
  color: #fff;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  margin-right: 280px;
}

h1 {
  text-align: center;
  padding: 80px 0;
}

p {
  font-size: 22px;
  color: #29374E;
  margin-bottom: 15px;
  font-weight: 500;
}

.app-image {
  max-width: 80%;
  height: auto;
  padding-right: 30px;
}

.card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 0 10px;
  width: 180px; /* Add a fixed width */
  height: 110px; /* Add a fixed height */
}
.card > div {
  text-align: left;
}
.card p {
  font-size: 16px;
  color: #29374E;
  font-weight: 500;
  text-align: left;
}

.icon-top-right {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #0962e8;
  padding: 4px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  width: 100%;
  margin-bottom: -25px;
}

.mini-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  position: relative;
}

.mini-card p {
  margin-top: 10px;
  font-size: 14px;
  color: #29374E;
  text-align: center;
}

.icon-exchange {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #0962e8;
  padding: 4px;
}

@media (max-width: 1024px) {
  .app-image {
    order: -1;
  }

  .content {
    padding-bottom: 10px;
  }

  .app-image {
    max-width: 100%;
    padding-right: 0;
  }

  h1 {
    padding: 40px 0;
  }

  .container {
    flex-direction: column;
    padding: 0 20px;
  }
  .card > div {
    text-align: center;
  }
  .rounded-button2 {
    margin-right: 0;
    width: 450px;
  }
  .rounded-button {
    margin-right: 0;
    width: 450px;
  }
  .cards {
    justify-content: space-between;
  }

  .card {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
  }

}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?82275535');
  src: url('../font/fontello.eot?82275535#iefix') format('embedded-opentype'),
    url('../font/fontello.woff2?82275535') format('woff2'),
    url('../font/fontello.woff?82275535') format('woff'),
    url('../font/fontello.ttf?82275535') format('truetype'),
    url('../font/fontello.svg?82275535#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chart-outline:before {
  content: '\e800';
}

.icon-chart-pie-outline:before {
  content: '\e801';
}

.icon-cog:before {
  content: '\e802';
}

.icon-exchange:before {
  content: '\e803';
}

.icon-lock:before {
  content: '\e804';
}

.icon-retweet:before {
  content: '\e805';
}

.icon-globe:before {
  content: '\e806';
}

.icon-money:before {
  content: '\e807';
}

.icon-lock:before,
.icon-retweet:before,
.icon-globe:before,
.icon-money:before,
.icon-chart-outline:before,
.icon-chart-pie-outline:before,
.icon-cog:before,
.icon-exchange:before {
  color: #0962e8;
}
